@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 box-border font-[outfit];
  }

  body {
    @apply overflow-x-hidden;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
